.swiperRotate {
     width: 480px!important;
     height:480px!important;
     
   }
   
   .sliderBox {
     background-position: center;
     background-size: cover;
     background-color: transparent;
         
   }
   
   .sliderBox img {
     display: block;
     width: 100%;
     min-height: fit-content;
     object-fit: cover;
   } 